/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
	text-decoration: none ;
	color:#666 ;
	display: block;
}
.color_liu{
	color:#666 !important ;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix{
    zoom: 1;
}
html, body {
	height: 100% ;
	width: 100% ;
}
#MZAD_POP_PLACEHOLDER {
	display: none !important;
}
pre {
	border-radius:4px ;
}
main.context h1,main.context h2,main.context h3,main.context h4,main.context h5,main.context h6 {
	font-weight: 600 !important;
	font-family: '微软雅黑';
	margin: 6px 0;
	text-indent: 25px;
}
main.context h1 {
	font-size: 32px !important;
	line-height: 42px;
}
main.context h2 {
	font-size: 24px !important;
	line-height: 34px;
}
main.context h3 {
	font-size: 18.72px !important;
	line-height: 28.72px;
}
main.context h4 {
	font-size: 16px !important;
	line-height: 26px ;
}
main.context h5 {
	font-size: 13.28px !important;
	line-height: 23.28px;
}
main.context h6 {
	font-size: 12px !important;
	line-height: 22px;
}
